body{
 background:#0a1f44;
 color:white;
 font-family:Arial;
 text-align:center;
 margin:0;
}

h1{
 color:#1e90ff;
}

.videoWrapper{
 position:relative;
 width:95%;
 margin:auto;
 margin-top:10px;
}

video{
 width:100%;
 background:black;
 min-height:200px;
}

#overlay{
 position:absolute;
 bottom:10px;
 left:10px;
 right:10px;

 background:rgba(0,0,60,0.85);
 color:white;

 padding:15px;
 font-size:20px;
 border-left:5px solid #1e90ff;
 border-radius:8px;
}

.controls{
 margin-top:15px;
}

button{
 padding:10px;
 background:#1e90ff;
 border:none;
 color:white;
 margin:5px;
    }
    
